<html ng-app="App">
<head>
<script src="angular.js"></script>
<script src="app.js"></script>
</head>

<body>

  <div ng-controller="control as obj">
    <input type="text" ng-model="obj.data">
    <button ng-click="obj.addList()">Add into List</button>
    <button ng-hide="obj.editMode" ng-click="obj.edit()">Edit</button>
    <button ng-show="obj.editMode" ng-click="obj.edit()">Done</button>
    <ol><div ng-repeat="todo in obj.myList" n>
      <li>

    <span ng-hide="obj.editMode" ng-bind="todo"></span>
      <input ng-show="obj.editMode" ng-model="todo" type="text"></input>
             <button ng-hide="obj.editMode" ng-click="obj.delete($index)">delete</button>
    </li>
  </div></ol>


  </div>


</body>
</html>
